@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* :root {
  --swiper-pagination-color: #000000;
} */

.custom-swiper .swiper-pagination-bullet {
  border: 2px solid white;
  width: 12px;
  height: 12px;
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #304b84;
  border-color: white;
}
:root {
  --swiper-navigation-color: #304b84;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
