node_modules
# .gitignore สำหรับ Django + Flask Project

### Python ###
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django #
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask #
instance/
.webassets-cache

### IDE ###
.idea/
.vscode/
*.swp
*.swo

### Database ###
*.dump
*.backup

### Media & Static ###
/media/
!/media/.gitkeep
/staticfiles/
/static/
!staticfiles/.gitkeep

# แต่ยกเว้นไฟล์ test_precategory.csv ใน ML/data/ เพราะดูเหมือนจะใช้ในการทำงาน
!ML/data/test_precategory.csv

### Backend ###
# ยกเว้น migrations แต่เฉพาะไฟล์ที่ untracked
backend/source/event/migrations/
!backend/source/event/migrations/__init__.py


### Docker ###
docker-compose.override.yml

### System ###
.DS_Store
Thumbs.db